@font-face {
  font-family: headerFont;
  src: url(fonts/LEMONMILK-Regular.ttf);
}
@font-face {
  font-family: headerFont2;
  src: url(fonts/Exo-VariableFont_wght.ttf);
}
.fallback h2 {
  font-family: headerFont;
  text-align: center;
  color: #364453;
}

header {
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
}

.main-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.main-right img {
  width: 335px;
  height: auto;
  box-shadow: #023e8a 2px 3px 10px;
  transition: all 0.5s ease;
}
.main-right img:hover {
  box-shadow: #023e8a 2px 3px 20px;
  cursor: pointer;
  transition: width box-shadow 0.5s ease;
}

h1 {
  color: #364453;
  margin: 0;
  font-family: headerFont;
  font-size: 6em;
  line-height: 7.5rem;
}

p {
  width: 64%;
  margin-top: 2em;
  font-family: headerFont2;
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: justify;
}
p strong {
  font-weight: 600;
  color: #364453;
}

.buttons {
  margin-top: 2em;
}

.btn {
  font-family: headerFont;
  padding: 2em 2.5em;
  border-style: none;
  color: white;
}
.btn:hover {
  cursor: pointer;
  box-shadow: #023e8a 2px 3px 10px;
}

.download {
  color: #023e8a;
  box-shadow: #023e8a 2px 3px 10px;
  background-color: white;
  transition: all 0.3s ease;
}
.download:hover {
  background-color: #023e8a;
  color: white;
  transition: all 0.3s ease;
}

.discover {
  background-color: #023e8a;
  margin-left: 2em;
  transition: all 0.3s ease;
}
.discover:hover {
  background-color: white;
  color: #023e8a;
  transition: all 0.3s ease;
}

.select-lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 15% 0 15%;
}
.select-lang div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin-top: 3em;
  background-color: #f0f0f0;
}
.select-lang div .btn {
  margin: 3em;
  padding: 0;
  border: none;
  border-radius: 0;
}
.select-lang div .btn span {
  font-size: 10em;
}
.select-lang h1 {
  font-size: 4em;
}

.modal {
  position: absolute;
  inset: 30px 200px -2px;
  border: none;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 5px;
  box-shadow: rgb(2, 62, 138) -3px -3px 30px;
  outline: none;
  padding: 0px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#first-row {
  justify-content: end;
}

.dialog-header {
  background-color: #023e8a;
  height: 70dvh;
}

#btn-close {
  margin: 2em 2em 0 0;
  border: none;
  background-color: transparent;
}
#btn-close img {
  width: 2em;
  height: auto;
  transition: transform 0.3s ease;
}
#btn-close img:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}

.icon-list {
  margin: 4em 10em 4em 10em;
  height: 10vh;
  list-style-type: none;
  justify-content: space-around;
}
.icon-list a img {
  width: 4rem;
  height: auto;
  padding-top: 5px;
}
.icon-list a img:hover {
  border-top: #023e8a 3px solid;
  opacity: 85%;
}

.border {
  margin: 0 1em 0 1em;
  border-bottom: #023e8a 0.2em dotted;
}

.dialog-content-wrapper {
  margin: 0 12% 0 12%;
  padding-bottom: 1em;
}

#edu-element {
  padding-top: 0;
}

#second-row {
  height: 100%;
  justify-content: space-around;
}
#second-row .flex-col {
  align-items: start;
  justify-content: center;
  margin-top: 2em;
}
#second-row .flex-col h1 {
  font-size: 3rem;
  color: white;
  line-height: 3rem;
}
#second-row .flex-col p {
  width: 100%;
  color: white;
  font-size: 1rem;
  margin: 0;
}

#my-photo {
  justify-content: center;
  align-items: center;
}
#my-photo img {
  width: 200px;
  height: auto;
}

#educationh1 {
  color: #023e8a;
  font-size: 2.5rem;
  line-height: 3em;
  text-align: center;
  padding-top: 0rem;
}

.dialog-element {
  padding-top: 2em;
  padding-bottom: 2em;
}
.dialog-element h1 {
  color: #023e8a;
  font-size: 2.5rem;
  line-height: 3em;
  text-align: center;
}
.dialog-element h4 {
  color: #364453;
  font-family: headerFont2;
  font-weight: 500;
  margin: 1.5em 0 0 0;
}
.dialog-element h4:first-of-type {
  margin: 0;
}
.dialog-element p {
  margin: 0;
  font-size: 1rem;
  font-weight: 250;
  line-height: 1.55rem;
  text-align: justify;
}
.dialog-element img {
  width: 100%;
  height: auto;
  margin-top: 9em;
}
.dialog-element img:first-child {
  width: 70%;
  margin-top: 5em;
}

.img-wrapper {
  width: 60%;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

#about .flex-col {
  padding-bottom: 1em;
}

#about2 {
  padding-top: 0;
  align-items: end;
}

#about3 {
  padding-top: 0;
  align-items: end;
}

#about4 {
  padding-top: 0;
}

#edu .flex-row .flex-col p {
  margin: 1em 0 0 0;
}
#edu .flex-row .flex-col p i {
  font-weight: 100;
}

.bar {
  height: 20px;
  background-color: #023e8a;
}

.shadow-bar {
  height: 20px;
  background-color: #d1d1d1;
}

.bar-wrapper {
  margin-bottom: 1.5em;
}

#HTML {
  width: 80%;
}

.HTML {
  width: 20%;
}

#php {
  width: 60%;
}

.php {
  width: 40%;
}

#sql {
  width: 30%;
}

.sql {
  width: 70%;
}

#c {
  width: 80%;
}

.c {
  width: 20%;
}

#cSharp {
  width: 30%;
}

.cSharp {
  width: 70%;
}

#java {
  width: 40%;
}

.java {
  width: 60%;
}

#react {
  width: 40%;
}

.react {
  width: 60%;
}

#javascript {
  width: 50%;
}

.javascript {
  width: 50%;
}

#ps {
  width: 30%;
}

.ps {
  width: 70%;
}

#git {
  width: 50%;
}

.git {
  width: 50%;
}

/*gallery*/
.gallery {
  justify-content: center;
  margin-top: 3em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 20px;
}
.gallery img {
  margin: 0;
}
.gallery img:first-child {
  margin: 0;
}
.gallery a {
  width: -moz-min-content;
  width: min-content;
  height: -moz-min-content;
  height: min-content;
}
.gallery a .first-column {
  grid-row: span 1;
  grid-column: 1;
  order: 1;
}
.gallery a .second-column {
  grid-column: 2;
  grid-row: span 2;
  order: 2;
}

.gallery_item {
  margin: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: #023e8a 2px 3px 10px;
  transition: transform 0.2s ease-in-out;
}
.gallery_item:hover {
  transform: scale(1.25);
}

.reach-me .flex-row {
  align-items: center;
  margin: 0 1em 1em 0;
}
.reach-me .flex-row img {
  margin: 0 1em 0 0;
  width: 3em;
  height: auto;
}
.reach-me .flex-row h3 {
  font-family: headerFont2;
  font-weight: 500;
  margin: 0;
}
.reach-me .flex-row a {
  color: #023e8a;
  text-decoration: none;
}
.reach-me .flex-row a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */