@media (max-width: 1045px) {
  .main-right{
    display: none;
    
  }
}

@media (max-width: 1170px) {
   .modal{
    left: 50px;
    right: 50px;
   }
}


@media (max-width: 1000px) {
    .select-lang{
        h1{
            font-size: 3em;
        }
        div{
            flex-direction: column;
            align-items: center;
        }
    }
 }

@media (max-width: 930px) {
    .img-wrapper{
        display: none;
    }
   }

@media (max-width: 830px) {
    .modal{
        top: 0px;
        left: 0px;
        right: 0px;
        border-radius: 0;
       }
       .select-lang{
        h1{
            font-size: 2em;
        }
    }
}

@media (max-width: 700px) {
    #my-photo img{
        width: 150px;
    }
    .dialog-header{
        height: 80dvh;
    }
    #second-row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .icon-list{
        a{
            img{
                width: 3rem;
            }
        }
    }

    #about{
        .dialog-element{
            align-items: center;
        }
    }

    #port{
        .dialog-element{
            .gallery{
                grid-template-columns: auto;
            }
        }
    }

    .select-lang{
        
        h1{
           line-height: 2em;
           text-align: center;
        }
    }

}

@media (max-width: 630px) {
    .main-left{
        h1{
            font-size: 5em;
            line-height: 1.2em;
        }
        p{
            font-size: 1.2rem;
            line-height: 1.5rem;
            width: 100%;
        }
    }
    .icon-list {
        margin: 3em 2em 3em 2em;
        height: 10vh;
        list-style-type: none;
        justify-content: space-around;
    }

}

@media (max-width: 516px) {
    .dialog-element{
        h1{
            font-size: 2.3rem;
            line-height: 3.5rem;
            margin-bottom: 1em;
        }
        p{
            width: 100%;
        }
    }
    .gallery_item:hover {
        transform: scale(1.15);
    }

}


@media (max-width: 400px) {
    .select-lang{
        div{
            .btn{
                span{
                    font-size: 8em;
                }
            }
        }
    }
    .main-left{
        height: 100dvh;
        h1{
            font-size: 4em;
        }
    }
    .buttons{
        display: flex;
        flex-direction: column;
    
        .btn{
            padding: 1.5em 2em;
            margin: 0;
            width: 100%;
        }
    }

    #second-row .flex-col h1 {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }


    
}